/*  
    =============================================================================================
    DESIGN:
    MOBILE FIRST
    =============================================================================================
*/

/*--------------------------------- HEADER SECTION --------------------------------------------*/

header{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    position: sticky;
    top: 0;
    background-color: rgb(7, 43, 71);
    padding: .5em;
    margin: 0;
}

.title{
    /*border: solid 2px white; *//*FOR DEBUGGING PURPOSES ONLY*/
    margin: 0 1em;
    text-align: center;
}

.title h1{
    padding: 0;
    margin: 0;
    font-family: "Lato", 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(192, 54, 0);
}

nav {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    padding: 0;
    margin-bottom: 0;
}

.navlink, 
.toggleLink {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    display: block;
    padding: 0.1em;
    margin-bottom: 0.5em;
}

.navlink:hover,
.navlink:focus {
    color:black;
    background-color: aliceblue;
}

/*--------------------------------- BODY SECTION ----------------------------------------------*/

body {
    margin: 0px;
    background: rgb(12, 76, 125); 
    color: white; 
    font-family: "Roboto", 'Courier New', Courier, monospace; /* Lato* IS A CUSTOM FONT-FAMILY FROM GOOGLE FONTS*/
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(65, 201, 255);
}

/*--------------------------------- BODY-> MAIN SECTION ---------------------------------------*/

main{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    max-width: 650px;
    margin: 0 auto;
}

/*--------------------------------- BODY-> MAIN-> MAINCARD SECTION ----------------------------*/

a{
    color: white;
}

.mainCard{
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(139,136,134,.2);
    margin-top: 1em;
    margin-bottom: .5em;
    box-shadow: 5px 5px 50px grey inset;
}

.mainCardleft{
    /*border: 3px white solid;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    padding: 1em;
    text-align: center;
    
}

.mainCardRight{
    /*border: 3px white solid;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    padding: 1em;
}

.mainCardGrid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 3em;
}

#getWeatherConditionsBtn{
    background-color: rgb(163, 163, 163);
    font-size: .8rem;
    color: rgb(0, 81, 134);
    padding: .5rem;
    border-radius: 8px;
    border: none;  
}
/*--------------------------------- BODY-> MAIN-> WEATHER CONDITIONS --------------------------*/

#weatherConditions{
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 0em .5em;
    box-shadow: 5px 5px 50px grey inset;
    margin-bottom: .5em;
}
/*--------------------------------- BODY-> MAIN-> FORECASTCARD SECTION ------------------------*/

.forecastCard{
    display: flex;
    border: 1px white solid;
    border-radius: 10px;
    margin-bottom: .3em;
    box-shadow: 5px 5px 40px grey inset;
    justify-content: space-between;
}

.forecastCardImg{
    /*border: 3px white solid;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    padding: 1em;
    text-align: center;
    margin-right: 0.5em;
}

.forecastCardInfo{
    /*border: 3px white solid;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    text-align: center;
    padding: 1em;
}

/*--------------------------------- BODY-> FOOTER SECTION -------------------------------------*/

footer{
    position: sticky;
    bottom: 0;
    padding: 1.5em;
    background-color: rgb(7, 43, 71);
    text-align: center;
}

footer p,
footer h3{
    margin: 0;
}

/*--------------------------------- MEDIA QUERIES SECTION -------------------------------------*/

/*----------------------TABLET-SIZE DEVICES-----------------------------*/ 
@media screen and (min-width: 576px){

    header{
        /*FLEX SETTINGS*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: .2em;
    }

    .navlink {
        /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
        color: white;
        text-decoration: none;
        font-size: 1rem;
        display: inline;
        padding: 0.3em;
    }

    .forecast{
        
        display: grid;
        grid-template-columns: auto auto;
        gap: .2em;
    }
}

/*----------------------LAPTOP-SIZE DEVICES AND UP----------------------*/ 

@media screen and (min-width: 768px){

    body{
        background-image: linear-gradient(to right, rgb(12, 76, 125,0), rgba(7,43,71,1));
    }

     nav{
        display: inline;
        margin-right: 3em;
    }

    .navlink {
        font-size: 1.2rem;
        padding: 0.5em;
        color: whitesmoke;
    }

}
